body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background: url('venue1.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
  }
/*   
  .header {
    position: relative;
    text-align: center;
    padding: 5px;
    background-color: #ffd700;
    border-bottom: 2px solid #800000;
    
  }
  
  .header h1 {
    margin: 20px;
    color: #800000;
    font-size: 2.5em;
  } */
  
  .header {
    position: relative;
    text-align: center;
    padding: 30px 20px;
    /* background: linear-gradient(90deg, #ffd700, #fff8dc); */
    background: linear-gradient(90deg, rgba(255, 215, 0, 0.8), rgba(255, 248, 220, 0.8));
    border-bottom: 2px solid #800000;
    z-index: 1;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    margin: 0;
    color: #800000;
    font-size: 2.5em;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
   .main-cards, .details, .invitees {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    width: 200px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 20px 20px 50px 10px pink inset;
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 1s ease-in-out cubic-bezier(0.755, 0.05, 0.855, 0.06);

  }
  
  .card img {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  
  .left-card {
    transform: translateX(-100vw);
    animation-name: fadeAndMove;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
  
  .right-card {
    transform: translateX(100vw);
    animation-name: fadeAndMove;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
  
  /* .middle-card img {
    width: 50%;
  } */
  
  
  .detail-card {
    width: 300px;
    height: auto;
  }
  
  .invitee-card {
    width: 150px;
    height: auto;
  }

   .card h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #800000;
    /* margin: 10px 0 0;
    padding: 0 10px; */
    word-wrap: break-word;
  } 
/*  
  .card h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    color: #5d3a00;
    margin: 10px 0 0;
    padding: 0 10px;
    word-wrap: break-word;
    text-transform: capitalize;
  }  */
  
  /* .card h2 {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    color: #b85c5c;
    margin: 10px 0 0;
    padding: 0 10px;
    word-wrap: break-word;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  } */
  
  
  
  @media (max-width: 768px) {
    .card {
        width: 100px;
        height: 150px;
        font-size: medium;
      }
      .card h2 {
        font-size: 1em;
        padding: 0 5px;
      }    
      .header h1 {
        font-size: 2em;
      }
  }
  @keyframes fadeAndMove {
    0% {
        opacity: 0;
        
    }
    
    100% {
        opacity: 1;
        
    }
}